/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 35px;
  font-family: 'Roboto';
}
.ulContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}
h1 {
  color: #ff8542;
  text-align: center;
}
.input-add-btn-center {
  text-align: center;
}
.input {
  width: 350px;
  margin-right: 20px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  min-width: 200px;
  font-weight: 600;
  font-size: 16px;
}

.ad-btn {
  background-color: green;
  border: 1px solid green;
  color: white;
  font-weight: 600;
}
